{% extends 'patient/base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'css/patient_profile.css' %}">{%endblock%}
{%block header%}
Patient Profile
{%endblock%}

{%block profile%}
        <div class="profile">
            <img src="{{request.user.patient.photo.url}}" alt=""style="width:45px;height:45px;border-radius:50%;">
            <span>{{request.user.first_name}}</span>
        </div>
{%endblock%}
{%block content%}
    {% include 'includes/_patient_details.html' %}
{%endblock%}

