<aside class="sidebar">
    <div>
        <div class="logo">
            <i class="bi bi-hospital"></i>
            <h2>ClinicOS</h2>
        </div>

        <nav class="menu">

            {% if sidebar_role == 'admin' %}

                <a href="{% url 'admin_dashboard' %}">
                    <i class="bi bi-speedometer2"></i>
                    <span>Dashboard</span>
                </a>

                <a href="{% url 'doctor_list' %}">
                    <i class="fa-solid fa-user-doctor"></i>
                    <span>Doctors</span>
                </a>

                <a href="{% url 'patient_list' %}">
                    <i class="fa-solid fa-user-injured"></i>
                    <span>Patients</span>
                </a>

                <a href="{% url 'admin_appointments' %}">
                    <i class="fa-solid fa-calendar-check"></i>
                    <span>Appointments</span>
                </a>

            {% elif sidebar_role == 'doctor' %}

                <a href="{% url 'doctor_dashboard' %}">
                    <i class="bi bi-speedometer2"></i>
                    <span>Dashboard</span>
                </a>

                <a href="{% url 'doctor_appointments' %}">
                    <i class="fa-solid fa-calendar-check"></i>
                    <span>Appointments</span>
                </a>

                <a href="{% url 'doctor_profile' %}">
                    <i class="fa-solid fa-user-doctor"></i>
                    <span>Your Profile</span>
                </a>

            {% else %}

                <a href="{% url 'patient_dashboard' %}">
                    <i class="bi bi-speedometer2"></i>
                    <span>Dashboard</span>
                </a>

                <a href="{% url 'patient_appointments' %}">
                    <i class="fa-solid fa-calendar-check"></i>
                    <span>Appointments</span>
                </a>

                <a href="{% url 'patient_doctor_list' %}">
                    <i class="fa-solid fa-user-doctor"></i>
                    <span>Doctors</span>
                </a>

                <a href="{% url 'patient_profile' %}">
                    <i class="bi bi-person"></i>
                    <span>Your Profile</span>
                </a>

            {% endif %}
        </nav>
    </div>

    <div class="logout">
        <a href="{% url 'logout' %}">
            <i class="bi bi-box-arrow-left"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>